# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[board_pins EBB] 
mcu: EBBCan
aliases:
  HE0=PA2,
  TH0=PA3,

aliases_step:
  EXT_EN=PD2,
  EXT_STEP=PD0,
  EXT_DIR=PD1,
  EXT_UART=PA15,

aliases_limitsw: # these are preferred for endstops (including klicky)
  LIMIT_1=PB7,
  LIMIT_2=PB5,
  LIMIT_3=PB6,

aliases_bltouch: # these are the dupont connectors for bltouch
  PROBE_CONTROL=PB9,
  PROBE_SENSOR=PB8,

aliases_fans:
  FAN0=PA1,
  FAN1=PA0,

aliases_rgb:
  RGBLED=PD3

aliases_adxl:
  ADXL_CS=PB12,
  ADXL_SCLK=PB10,
  ADXL_MISO=PB2,
  ADXL_MOSI=PB11

aliases_i2c:
  AUX0=PB3,
  AUX1=PB4

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 707e469791db # run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[adxl345]
cs_pin: EBBCan:ADXL_CS
spi_software_sclk_pin: EBBCan:ADXL_SCLK
spi_software_mosi_pin: EBBCan:ADXL_MOSI
spi_software_miso_pin: EBBCan:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20  # an example for a 300mm printer

#[extruder]
#step_pin: EBBCan:EXT_STEP
#dir_pin: !EBBCan:EXT_DIR
#enable_pin: !EBBCan:EXT_EN
#microsteps: 16
#rotation_distance: 22.67895 #for 5mm Shaft Driven Bondtech gearsets
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: EBBCan:HE0
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: EBBCan:TH0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
#min_temp: 0
#max_temp: 250

#[tmc2209 extruder]
#uart_pin: EBBCan:EXT_UART
#run_current: 0.650
#stealthchop_threshold: 999999

[fan]
pin: EBBCan:FAN0

[heater_fan hotend_fan]
pin: EBBCan:FAN1
heater: extruder
heater_temp: 50.0

#[neopixel hotend_rgb]
#pin: EBBCan:RGBLED

#[bltouch]
#sensor_pin: ^EBBCan:PROBE_SENSOR
#control_pin: EBBCan:PROBE_CONTROL

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:AUX1

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:AUX0
