# This file contains common pin mappings for the BIGTREETECH SKR Pico V1.0
# To use this config, the firmware should be compiled for the RP2040 with
# USB communication.

# The "make flash" command does not work on the SKR Pico V1.0. Instead,
# after running "make", copy the generated "out/klipper.uf2" file
# to the mass storage device in RP2040 boot mode

## Voron Design VORON 0.2 SKR Pico V1.0 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Extruder motor currents                                                      [extruder] section
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section
## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0

##========================== Pin Definitions ========================
## Source: https://github.com/bigtreetech/SKR-Pico/blob/master/Hardware/BTT%20SKR%20Pico%20V1.0-PIN.pdf
[board_pins skr_pico]
aliases:
   RGB             =  gpio24,

aliases_uart:
   MOT_UART_RX_PIN =  gpio9,
   MOT_UART_TX_PIN =  gpio8,

aliases_x:
   X_STEP_PIN      =  gpio11,
   X_DIR_PIN       =  gpio10,
   X_ENABLE_PIN    =  gpio12,
   X_STOP_PIN      =  gpio4,

aliases_y:
   Y_STEP_PIN      =  gpio6,
   Y_DIR_PIN       =  gpio5,
   Y_ENABLE_PIN    =  gpio7,
   Y_STOP_PIN      =  gpio3,

aliases_z:
   Z_STEP_PIN      =  gpio19,
   Z_DIR_PIN       =  gpio28,
   Z_ENABLE_PIN    =  gpio2,
   Z_STOP_PIN      =  gpio25,

aliases_e0:
   E0_STEP_PIN     =  gpio14,
   E0_DIR_PIN      =  gpio13,
   E0_ENABLE_PIN   =  gpio15,
   E0_DET_PIN      =  gpio16,
   HE0             =  gpio23,
   TH0             =  gpio27,

aliases_bed:
   BED             =  gpio21,
   TB              =  gpio26,

aliases_probe:
   SERVO           =  gpio29,
   PROBE		   =  gpio22,

aliases_fan:
   FAN1            =  gpio17,
   FAN2            =  gpio18,
   FAN3            =  gpio20,

##===================================================================

[mcu]
#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################
# canbus_uuid: 33385930e02e
# serial: /dev/serial/by-id/usb-Klipper_rp2040_E66094A027854422-if00
serial: /dev/ttyAMA0 											    # for UART connection
restart_method: command
##--------------------------------------------------------------------

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X (B Motor)
step_pin: X_STEP_PIN
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: X_DIR_PIN                                                  # Check motor direction in link above. If inverted, add a ! before X_DIR_PIN
enable_pin: !X_ENABLE_PIN
rotation_distance: 40			                                    # 20T Pulley, 2mm Belt Pitch
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: ^X_STOP_PIN                                            # LDO Picobilical overrides this setting 
position_endstop: 120
position_max: 120
homing_speed: 50                                                    # Can be increased after initial setup, Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: MOT_UART_RX_PIN
tx_pin: MOT_UART_TX_PIN
uart_address: 0
interpolate: False
run_current: 0.5                                                    # Refer to https://docs.vorondesign.com/community/howto/120decibell/calculating_driver_current.html
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

[stepper_y]
##	Connected to Y (A Motor)
step_pin: Y_STEP_PIN
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: Y_DIR_PIN                                                  # Check motor direction in link above. If inverted, add a ! before Y_DIR_PIN
enable_pin: !Y_ENABLE_PIN
rotation_distance: 40			                                    # 20T Pulley, 2mm Belt Pitch
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: ^Y_STOP_PIN
position_endstop: 120
position_max: 120
homing_speed: 50                                                    # Can be increased after initial setup, Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: MOT_UART_RX_PIN
tx_pin: MOT_UART_TX_PIN
uart_address: 2
interpolate: False
run_current: 0.5                                                    # Refer to https://docs.vorondesign.com/community/howto/120decibell/calculating_driver_current.html
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: Z_STEP_PIN
dir_pin: !Z_DIR_PIN                                                 # Remove the ! before Z_DIR_PIN if motor direction is inverted.
enable_pin: !Z_ENABLE_PIN
rotation_distance: 8                                                # For TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32
endstop_pin: ^!Z_STOP_PIN
position_endstop: 120                                               # Default endstop position on the bottom for v0.2
position_max: 120
position_min: -1.5
homing_speed: 10                                                    # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: MOT_UART_RX_PIN
tx_pin: MOT_UART_TX_PIN
uart_address: 1
interpolate: False
## For OMC (StepperOnline) 17LS13-0404E-200G 0.4A 
#run_current: 0.2
## For LDO-42STH25-1004CL200E 1.0A
#run_current: 0.37
run_current: 0.2                                                    # Refer to https://docs.vorondesign.com/community/howto/120decibell/calculating_driver_current.html
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: E0_STEP_PIN
dir_pin: E0_DIR_PIN                                                 # Add ! if moving opposite direction
enable_pin: !E0_ENABLE_PIN
full_steps_per_rotation: 200                                        # Set to 200 for LDO 1.8° stepper motor, and set to 400 for OMC(StepperOnline) 0.9° stepper motor
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.23                                            # Bondtech 5mm Bore Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10                                                   # For Mini Afterburner
microsteps: 32
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: HE0                                                     # LDO Picobilical overrides this setting 
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: ATC Semitec 104NT-4-R025H42G                           # LDO Picobilical overrides this setting
sensor_pin: TH0                                                     # LDO Picobilical overrides this setting
control: pid                                                        # Do PID calibration after initial checks
pid_Kp: 28.182
pid_Ki: 1.978
pid_Kd: 100.397
min_temp: 0
max_temp: 270
min_extrude_temp: 170
max_extrude_only_distance: 150
max_extrude_cross_section: 0.8
pressure_advance: 0.0                                               # Try to keep pressure_advance below 1.0
pressure_advance_smooth_time: 0.040                                 # Default is 0.040, leave stock

[tmc2209 extruder]
uart_pin: MOT_UART_RX_PIN
tx_pin: MOT_UART_TX_PIN
uart_address: 3
interpolate: False
## For OMC (StepperOnline) 14HR07-1004VRN 1A 0.9°
#run_current: 0.5 # for OMC 14HR07-1004VRN rated at 1A
## For LDO LDO 36STH17-1004AHG 1A 1.8° 
#run_current: 0.3 # for LDO 36STH17-1004AHG
## For LDO LDO 36STH20-1004AHG 1A 1.8° 
#run_current: 0.6 # for LDO 36STH20-1004AHG
run_current: 0.28 # For Moons 0.65A                                 # Refer to https://docs.vorondesign.com/community/howto/120decibell/calculating_driver_current.html
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 0 for spreadcycle, avoid using stealthchop on extruder

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: BED
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: ATC Semitec 104NT-4-R025H42G 
sensor_pin: TB
smooth_time: 3.0
#max_power: 0.6                                                     # Only needed for 100w pads
min_temp: 0
max_temp: 120
control: pid                                                        # Do PID calibration after initial checks
pid_kp: 68.453
pid_ki: 2.749
pid_kd: 426.122

#####################################################################
# Fan Control
#####################################################################

[fan]
pin: FAN1                                                           # LDO Picobilical overrides this setting
max_power: 1.0
kick_start_time: 0.5                                                # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010                                                   # Can increase if your fan is not able to slow down effectively

[heater_fan hotend_fan]
pin: FAN2                                                           # LDO Picobilical overrides this setting
max_power: 1.0
kick_start_time: 0.5
heater: extruder                                                    # LDO Picobilical overrides this setting
heater_temp: 50.0                                                   # LDO Picobilical overrides this setting
#fan_speed: 1.0                                                     # If you are experiencing back flow, you can reduce fan_speed

[controller_fan MCU_fan]                                            # Optional fan for cooling your PCBs
pin: FAN3
max_power: 1.0
kick_start_time: 0.5
heater: heater_bed
#fan_speed: 1.0 

#####################################################################
# Filament Sensor
#####################################################################

[filament_switch_sensor runout_sensor]
pause_on_runout: False
switch_pin: ^E0_DET_PIN

#[filament_switch_sensor runout_sensor]
#switch_pin: ^E0_DET_PIN
#pause_on_runout: True

# [filament_motion_sensor smart_sensor]
# switch_pin: ^E0_DET_PIN
# detection_length: 2.5


#####################################################################
# Stealth Bed Front Lighting - Kirigami Bed
#####################################################################

[neopixel bed_light]
## RGB light installed on bed mount
pin: RGB
chain_count: 1
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[homing_override]
axes: xyz
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    _HOME_Z
  {% endif %}

# Uncomment this section if you are using physical endstops
#[safe_z_home]
##home_xy_position: 120,120 										# these coordinates must NOT be greater than the values specified in "position_max:" for the X and Y steppers
#speed: 50.0
#z_hop: 5

## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

#####################################################################
# Macros
#####################################################################

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
gcode:
    G28                            ; home all axes
    G90                            ; absolute positioning    
    G1 Z20 F3000                   ; move nozzle away from bed
   
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y-10} F3600          ; park nozzle at rear
  
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28 X
    # Move away
    G91
    G1 X-10 F1200
    
    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    G90
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28 Y
    # Move away
    G91
    G1 Y-10 F1200

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    G90
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Z]
gcode:
    {% set th = printer.toolhead %}
    {% set RUN_CURRENT_Z = printer.configfile.settings['tmc2209 stepper_z'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={HOME_CURRENT}
    G90
    G28 Z
    G1 Z30
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={RUN_CURRENT_Z}
