[board_pins super8]
aliases:

    # Stepper drivers
    X_EN=PF11, X_STEP=PE2, X_DIR=PC5, X_CS=PC4,    # X
    Y_EN=PF14, Y_STEP=PE3,  Y_DIR=PF13,  Y_CS=PF12,  # Y
    E_EN=PG1,  E_STEP=PE4,  E_DIR=PG0,  E_CS=PF15,   # E
    Z_EN=PE9,  Z_STEP=PE14, Z_DIR=PE8,  Z_CS=PE7,   # Z
    Z1_EN=PF2,  Z1_STEP=PE15, Z1_DIR=PE11,  Z1_CS=PE10,   # Z
    Z2_EN=PC15,  Z2_STEP=PE1, Z2_DIR=PF0,  Z2_CS=PF1,   # Z
    Z3_EN=PG4,  Z3_STEP=PE0, Z3_DIR=PG3,  Z3_CS=PG2,   # Z
    D7_EN=PG7,  D7_STEP=PE6, D7_DIR=PG6,  D7_CS=PG5,   # Z

    # Heaters
    BED_OUT=PE5,
    HEAT0=PB0, HEAT1=PB1, HEAT2=PC7, HEAT3=PF7, HEAT4=PF6,

    # Thermisors
    BED_TEMP=PC1,
    HEAT0_TEMP=PF4, HEAT1_TEMP=PF5, HEAT2_TEMP=PF9, HEAT3_TEMP=PF10, HEAT4_TEMP=PC0, 

    # Fans
    FAN0=PA0, FAN1=PA1, FAN2=PA2, FAN3=PA3, FAN4=PA15, FAN5=PB11, FAN6=PB10, FAN7=PD12, FAN8=PD14, FAN9=PD15,

    # End stops
    X_STOP=PG12,  Y_STOP=PG11,  Z_STOP=PG9, E_STOP=PG10,

    # EXP1 header
    EXP1_1=PE12,  EXP1_3=PB2,  EXP1_5=PC14,   EXP1_7=PG14,  EXP1_9=<GND>,
    EXP1_2=PE13,  EXP1_4=PG8,  EXP1_6=PC13,   EXP1_8=PG13,  EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PB7,  EXP2_5=PB6,  EXP2_7=PG15,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4,  EXP2_6=PA7,  EXP2_8=<RST>, EXP2_10=<5V>,


    # BL Touch
    SERVO=PC6,   # BL Touch servo pin
    PROBE=PC3  # BL Touch end stop pin

##========================== Pin Definitions ========================
## X
## Drive0_STEP_PIN         PE2
## Drive0_DIR_PIN          PC5
## Drive0_ENABLE_PIN       PF11
## Drive0_STOP_PIN         PG12 #IO0
## Drive0_UART_PIN         PC4

## Y
## Drive1_STEP_PIN         PE3
## Drive1_DIR_PIN          PF13
## Drive1_ENABLE_PIN       PF14
## Drive1_STOP_PIN         PG11 #IO1
## Drive1_UART_PIN         PF12

## E
## Drive2_STEP_PIN         PE4
## Drive2_DIR_PIN          PG0
## Drive2_ENABLE_PIN       PG1
## Drive2_STOP_PIN         PG10 #IO2
## Drive2_UART_PIN         PF15

## Z
## Drive3_STEP_PIN         PE14
## Drive3_DIR_PIN          PE8
## Drive3_ENABLE_PIN       PE9
## Drive3_STOP_PIN         PG9 #IO3
## Drive3_UART_PIN         PE7

## Z1
## Drive4_STEP_PIN         PE15
## Drive4_DIR_PIN          PE11
## Drive4_ENABLE_PIN       PF2
## Drive4_UART_PIN         PE10

## Z2
## Drive5_STEP_PIN         PE1
## Drive5_DIR_PIN          PF0
## Drive5_ENABLE_PIN       PC15
## Drive5_UART_PIN         PF1

## Z3
## Drive6_STEP_PIN         PE0
## Drive6_DIR_PIN          PG3
## Drive6_ENABLE_PIN       PG4
## Drive6_UART_PIN         PG2

## Drive7_STEP_PIN         PE6
## Drive7_DIR_PIN          PG6
## Drive7_ENABLE_PIN       PG7
## Drive7_UART_PIN         PG5

##   TMC SPI MODE
## TMC MOSI           PB4
## TMC MISO           PB5
## TMC SCK            PB3

## HEAT0              PB0
## HEAT1              PB1
## HEAT2              PC7
## HEAT3              PF7
## HEAT4              PF6

## BED                PE5

## TH0 (H0 Temp)      PF4    #ADC0
## TH1 (H1 Temp)      PF5    #ADC1
## TH2 (H2 Temp)      PF9    #ADC2
## TH3 (H3 Temp)      PF10   #ADC3
## TH4 (H4 Temp)      PC0    #ADC4
## TB  (Bed Temp)     PC1    #ADC5

## FAN0               PA0
## FAN1               PA1
## FAN2               PA2
## FAN3               PA3
## FAN4               PA15
## FAN5               PB11
## FAN6               PB10
## FAN7               PD12
## FAN8               PD14
## FAN9               PD15

## SERVO              PC6   #BLTOUCH
## PROBE			  PC3   #BLTOUCH


##########################################
# 5V # GND # PD0 # PD1 # PD3 # PD4 # PD5 #
##########################################

[mcu]
serial: */dev/serial/by-id/usb-Klipper_stm32_00000-if00*

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor FLY-Super8]
sensor_type: temperature_mcu

########################################
# Drives
########################################

[stepper_x]
step_pin: X_STEP
dir_pin: !X_DIR
enable_pin: !X_EN
rotation_distance: 32
microsteps: 16
step_pulse_duration: 0.000004
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: X_STOP
position_endstop: 0
position_min: 0
position_max: 330
homing_retract_dist: 10.0
homing_speed: 60

[tmc5160 stepper_x]
cs_pin: X_CS
spi_bus: spi3
run_current: 1.0
interpolate: False
#stealthchop_threshold: 999999
#driver_TOFF: 0

[stepper_y]
step_pin: Y_STEP
dir_pin: !Y_DIR
enable_pin: !Y_EN
rotation_distance: 32
microsteps: 16
step_pulse_duration: 0.000004
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: Y_STOP
position_endstop: 300
position_min: 0
position_max: 300
homing_retract_dist: 10.0
homing_speed: 60

[tmc5160 stepper_y]
cs_pin: Y_CS
spi_bus: spi3
run_current: 1.50
interpolate: False
#stealthchop_threshold: 999999
#driver_TOFF: 0

[stepper_z]
step_pin: z_STEP
dir_pin: !Z_DIR
enable_pin: !Z_EN
microsteps: 16
rotation_distance: 4
step_pulse_duration: 0.000004
endstop_pin: probe:z_virtual_endstop
position_max: 350

[tmc2209 stepper_z]
uart_pin: Z_CS
run_current: 0.800
stealthchop_threshold: 999999

[stepper_z1]
step_pin: Z1_STEP
dir_pin: !Z1_DIR
enable_pin: !Z1_EN
microsteps: 16
rotation_distance: 4
step_pulse_duration: 0.000004

[tmc2209 stepper_z1]
uart_pin: Z1_CS
run_current: 0.800
stealthchop_threshold: 999999

[extruder]
step_pin: E_STEP
dir_pin: !E_DIR
enable_pin: !E_EN
microsteps = 16
step_pulse_duration: 0.000004
rotation_distance: 22.23                                            # See calibrating rotation_distance on extruders doc
gear_ratio: 50:10                                                   # For Mini Afterburner
microsteps: 16
nozzle_diameter = 0.400
filament_diameter = 1.750
heater_pin: HEAT0
sensor_pin: HEAT0_TEMP
sensor_type: EPCOS 100K B57560G104F
pullup_resistor: 2200 ####
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: -50
max_temp: 350
min_extrude_temp: 10

[tmc2209 extruder]
uart_pin: E_CS
run_current: 0.5
stealthchop_threshold: 999999

[heater_bed]
heater_pin: BED_OUT
sensor_pin: BED_TEMP
sensor_type: EPCOS 100K B57560G104F
control: watermark
min_temp: -50
max_temp: 200

[fan]
pin: FAN0
#cycle_time: 0.50

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE12, EXP1_3=PB2, EXP1_5=PC14, EXP1_7=PG14, EXP1_9=<GND>,
    EXP1_2=PE13, EXP1_4=PG8, EXP1_6=PC13, EXP1_8=PG13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PB7, EXP2_5=PB6, EXP2_7=PG15,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<5V>

########################################
 #Mini 12864 LCD
########################################
#[display]
#lcd_type: uc1701
#cs_pin: EXP1_3
#a0_pin: EXP1_4
#rst_pin: EXP1_5
#contrast: 63
#encoder_pins: ^EXP2_5, ^!EXP2_3
#click_pin: ^!EXP1_2
#spi_bus: spi1

#####FLY Mini12864
#[neopixel fly_mini12864]
#pin: EXP1_6
#chain_count: 3
#initial_RED: 0.1
#initial_GREEN: 0.5
#initial_BLUE: 0.0
#color_order: RGB
