################################################################################
#   Voron Official
################################################################################
#[include voron-macros/voron_0.2.cfg]
#[include voron-macros/voron_1.8.cfg]
[include voron-macros/voron_2.4.cfg]
#[include voron-macros/sensorless_homing.cfg]
[include voron-macros/stealthburner_leds.cfg]

################################################################################
#   Voron Users
################################################################################

#[include bedfans/bedfans.cfg]
#[include bedfans/bedfans-dualcontrol.cfg]

#[include klicky-probe/klicky-probe.cfg]

#[include klipper-led_effect/stealthburner_led_effects_3_leds.cfg]
#[include klipper-led_effect/stealthburner_led_effects_barf.cfg]
#[include klipper-led_effect/stealthburner_led_effects_barf_fan.cfg]

#[include nozzle-scrubber/nozzle_scrub.cfg]
#[include nozzle-scrubber/sample_nozzle_scrub_menu.cfg]
