#[include bedfans/bedfans.cfg]
#[include bedfans/bedfans-dualcontrol.cfg]

#[include klicky-probe/klicky-probe.cfg]

#[include nozzle-scrubber/nozzle_scrub.cfg]
#[include nozzle-scrubber/sample_nozzle_scrub_menu.cfg]

#[include voron-macros/sensorless_homing.cfg]
#[include voron-macros/stealthburner_leds.cfg]
